In [67]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score as ac
from sklearn.model_selection import train_test_split

In [68]:
import warnings
warnings.filterwarnings('ignore')

In [69]:
ls

 Volume in drive C is OS
 Volume Serial Number is 267A-0770

 Directory of C:\Users\HP\Ass-6 Logistic Regression

11-07-2022  04:32    <DIR>          .
11-07-2022  04:32    <DIR>          ..
11-07-2022  04:07    <DIR>          .ipynb_checkpoints
11-07-2022  04:32            32,638 ASS-6 _Logistic Regression.ipynb
02-07-2022  16:54         3,751,306 bank-full.csv
11-07-2022  04:30         3,751,306 bank-full1.csv
03-07-2022  00:23             1,257 count_plot.png
               4 File(s)      7,536,507 bytes
               3 Dir(s)  50,479,706,112 bytes free

In [70]:
data1 = pd.read_csv("bank-full.csv")
data1.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [71]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [72]:
data2 = pd.get_dummies(data1,columns=['job','marital','education','default','housing','loan','contact','month','poutcome'])
data2.head(2)

,age,balance,day,duration,campaign,pdays,previous,y,job_admin.,job_blue-collar,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,2143,5,261,1,-1,0,no,0,0,...,0,0,1,0,0,0,0,0,0,1
1,44,29,5,151,1,-1,0,no,0,0,...,0,0,1,0,0,0,0,0,0,1

In [73]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 52 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  45211 non-null  int64
 1   balance              45211 non-null  int64
 2   day                  45211 non-null  int64
 3   duration             45211 non-null  int64
 4   campaign             45211 non-null  int64
 5   pdays                45211 non-null  int64
 6   previous             45211 non-null  int64
 7   y                    45211 non-null  object
 8   job_admin.           45211 non-null  uint8
 9   job_blue-collar      45211 non-null  uint8
 10  job_entrepreneur     45211 non-null  uint8
 11  job_housemaid        45211 non-null  uint8
 12  job_management       45211 non-null  uint8
 13  job_retired          45211 non-null  uint8
 14  job_self-employed    45211 non-null  uint8
 15  job_services         45211 non-null  uint8
 16  job_student          45211 non-null  uint8
 17  job_technician       45211 non-null  uint8
 18  job_unemployed       45211 non-null  uint8
 19  job_unknown          45211 non-null  uint8
 20  marital_divorced     45211 non-null  uint8
 21  marital_married      45211 non-null  uint8
 22  marital_single       45211 non-null  uint8
 23  education_primary    45211 non-null  uint8
 24  education_secondary  45211 non-null  uint8
 25  education_tertiary   45211 non-null  uint8
 26  education_unknown    45211 non-null  uint8
 27  default_no           45211 non-null  uint8
 28  default_yes          45211 non-null  uint8
 29  housing_no           45211 non-null  uint8
 30  housing_yes          45211 non-null  uint8
 31  loan_no              45211 non-null  uint8
 32  loan_yes             45211 non-null  uint8
 33  contact_cellular     45211 non-null  uint8
 34  contact_telephone    45211 non-null  uint8
 35  contact_unknown      45211 non-null  uint8
 36  month_apr            45211 non-null  uint8
 37  month_aug            45211 non-null  uint8
 38  month_dec            45211 non-null  uint8
 39  month_feb            45211 non-null  uint8
 40  month_jan            45211 non-null  uint8
 41  month_jul            45211 non-null  uint8
 42  month_jun            45211 non-null  uint8
 43  month_mar            45211 non-null  uint8
 44  month_may            45211 non-null  uint8
 45  month_nov            45211 non-null  uint8
 46  month_oct            45211 non-null  uint8
 47  month_sep            45211 non-null  uint8
 48  poutcome_failure     45211 non-null  uint8
 49  poutcome_other       45211 non-null  uint8
 50  poutcome_success     45211 non-null  uint8
 51  poutcome_unknown     45211 non-null  uint8
dtypes: int64(7), object(1), uint8(44)
memory usage: 4.7+ MB

In [74]:
x = pd.concat([data2.iloc[:,0:7],data2.iloc[:,8:]],axis=1)
y = data2.iloc[:,7]

In [75]:
x.shape

(45211, 51)

In [76]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 51 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  45211 non-null  int64
 1   balance              45211 non-null  int64
 2   day                  45211 non-null  int64
 3   duration             45211 non-null  int64
 4   campaign             45211 non-null  int64
 5   pdays                45211 non-null  int64
 6   previous             45211 non-null  int64
 7   job_admin.           45211 non-null  uint8
 8   job_blue-collar      45211 non-null  uint8
 9   job_entrepreneur     45211 non-null  uint8
 10  job_housemaid        45211 non-null  uint8
 11  job_management       45211 non-null  uint8
 12  job_retired          45211 non-null  uint8
 13  job_self-employed    45211 non-null  uint8
 14  job_services         45211 non-null  uint8
 15  job_student          45211 non-null  uint8
 16  job_technician       45211 non-null  uint8
 17  job_unemployed       45211 non-null  uint8
 18  job_unknown          45211 non-null  uint8
 19  marital_divorced     45211 non-null  uint8
 20  marital_married      45211 non-null  uint8
 21  marital_single       45211 non-null  uint8
 22  education_primary    45211 non-null  uint8
 23  education_secondary  45211 non-null  uint8
 24  education_tertiary   45211 non-null  uint8
 25  education_unknown    45211 non-null  uint8
 26  default_no           45211 non-null  uint8
 27  default_yes          45211 non-null  uint8
 28  housing_no           45211 non-null  uint8
 29  housing_yes          45211 non-null  uint8
 30  loan_no              45211 non-null  uint8
 31  loan_yes             45211 non-null  uint8
 32  contact_cellular     45211 non-null  uint8
 33  contact_telephone    45211 non-null  uint8
 34  contact_unknown      45211 non-null  uint8
 35  month_apr            45211 non-null  uint8
 36  month_aug            45211 non-null  uint8
 37  month_dec            45211 non-null  uint8
 38  month_feb            45211 non-null  uint8
 39  month_jan            45211 non-null  uint8
 40  month_jul            45211 non-null  uint8
 41  month_jun            45211 non-null  uint8
 42  month_mar            45211 non-null  uint8
 43  month_may            45211 non-null  uint8
 44  month_nov            45211 non-null  uint8
 45  month_oct            45211 non-null  uint8
 46  month_sep            45211 non-null  uint8
 47  poutcome_failure     45211 non-null  uint8
 48  poutcome_other       45211 non-null  uint8
 49  poutcome_success     45211 non-null  uint8
 50  poutcome_unknown     45211 non-null  uint8
dtypes: int64(7), uint8(44)
memory usage: 4.3 MB

In [77]:
y.shape

(45211,)

In [78]:
classifier = LogisticRegression()
classifier.fit(x,y)

LogisticRegression()

In [79]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,shuffle=True)

In [80]:
x_train.shape

(31647, 51)

In [81]:
y_train.shape

(31647,)

In [83]:
classifier = LogisticRegression()
classifier.fit(x_train,y_train)

LogisticRegression()

In [85]:
y_train_pred = classifier.predict(x_train)

In [87]:
ac(y_train,y_train_pred)

0.8895945903245174

In [88]:
y_test_pred = classifier.predict(x_test)

In [89]:
ac(y_test,y_test_pred)

0.8880123857269242

In [99]:
acc=ac(y_test,y_test_pred)
print("Testing data Prediction Accuracy is - ",(acc*100).round(2),"%")

Testing data Prediction Accuracy is -  88.8 %